.background {
  background-color: #250649;
  position: relative;
  cursor: pointer;
}

.background_polygon_1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #6e2888, #250751);
  clip-path: polygon(0% 0%, 50% 0%, 40% 50%, 0% 50%);
}

.background_polygon_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #3c0548, #b20360);
  clip-path: polygon(100% 100%, 60% 100%, 70% 40%, 100% 40%);
}
