.hamburgerIcon {
    width: 2rem;
    height: 0.1rem;
    position: relative;
    
    background-color: #000;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 2rem;
        height: 0.1rem;
        background-color: #000;
        transition: all 0.3s ease;
        left: 0;
    }

    &::before {
        top: -0.5rem;
    }

    &::after {
        top: 0.5rem;
    }

    &.active {
        background-color: transparent;

        &::before,
        &::after {
            background-color: #e33ea7;
        }

        &::before {
            top: 0;
            transform: rotate(225deg);

        }

        &::after {
            top: 0;
            transform: rotate(-225deg);
        }
    }

    @media (min-width: 1024px) {
        display: none;
    }
}