.hamburgerIcon {
    position: relative;
    background-color: #000;

    &,
    &::before,
    &::after {
        width: 3rem;
        height: 4px;
        transition: all 0.3s ease;
        background-color: #000;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
    }

    &::before {
        top: -0.8rem;
    }

    &::after {
        top: 0.8rem;
    }

    &.active {
        background-color: transparent;

        &::before,
        &::after {
            background-color: #e33ea7;
        }

        &::before {
            top: 0;
            transform: rotate(225deg);

        }

        &::after {
            top: 0;
            transform: rotate(-225deg);
        }
    }

    @media (min-width: 1280px) {
        display: none;
    }
}