.backgroundImage {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.shade {
  height: 40vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contactArticle {
  min-height: 40vh;
  width: 100%;
  padding-top: 5rem;
}

.contact{
  padding-top: 3rem;
  div {
    width: 60%;
    padding: 0 3rem;
  }
}