.backgroundImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.shade {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contactArticle {
  min-height: 40vh;
  width: 100%;
  padding: 5rem 0;
}

.contact{
  padding-top: 3rem;
  div {
    width: 60%;
    padding: 0 3rem;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 1rem;
    }
  }
}