@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
}

a:not([href*="/"]) {
    border-bottom: #ef249c 2px solid;
    transition: all 0.2s ease-in-out;

    &:hover {
        border-bottom: #5b41a0 2px solid;
    }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading='lazy'] {
      clip-path: inset(0.6px);
    }
  }
